<div>
    <p>
        The downloaded files are organized in the following way:
        <ul>
            <li>Summary_table.csv: the table with the results of the muon resting sites search. Format is CSV;</li>
            <li>Supercell_#.cif: supercells hosting the muon site (each label # corresponding to the one in the table). Format is cif.</li>
            <li>Allsites.cif: the unit cell of the system with all the muon sites together.</li>
        </ul><br>
        The table collect the results of the muon resting sites search. The different columns shows:<br>
    </p>
</div>
