<div>
    <p>
        The plotting parameters presented in this panel are:<br>
        <ul>
            <li>Intensity window: window for minimum and maximum intensities for the structure factor, relative to the max one at T=0K;</li>
            <li>Energy units: the energy units for the y-axis of the plot (can be meV, THz, 1/cm).</li>
            <li>q step: the spacing (in 1/A) between two consecutive points in the reciprocal space path (x-axis).</li>
            <li>ΔE: the broadening in energy.</li>
            <li>#E bins: Number of energy bins.</li>
            <li>T: the temperature at which the structure factor is calculated in terms of the Debye-Waller factor. Units are K.</li>
        </ul><br>
    </p>
</div>
